.mb{
    margin-bottom: 30px;
}

.mt{
    margin-top: 200px;
}
.mt-20{
    margin-top: 20px;
}

.ml{
    margin-left: 60vw;
}

.bdr{
    border: 2px solid gainsboro;
    border-radius: 5px;
}

.wh{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
}
  
  